

.a1{
	color: white;
	font-size: 1.5rem;
}
.a1:hover{
	color: cyan;
}
.a2{
	font-size: 2rem;
}
.a3:hover{
	color: #d2bb07;
}
.a{
	margin: 0 auto;
	border-radius: 5rem 10rem 0 5rem;
	color: white
}
.duongke{
	width: 30%;
	height: 3px;
	background: #f2bb07;
	margin: 0 auto;
	border-radius: 2px
}
img.car{
	border: 5px solid white;
}
img.icon{
	width: 10%;
	height: 10%;
	position: relative;
	left: 45%;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.vien{
	border: 5px solid #f2bb07;
}
.bt {
	border-radius: 5rem 10rem 0 5rem; 
	height: 2.5rem;
	line-height: 2.5rem;
}
/*.footer-text {*/
	/*margin-left: 8rem;*/
/*	margin-right: 4rem;
*/}
a h5:hover{
	color:#f2bb07;

}
a.navbar-brand.f {
    margin-right: 15rem;
    font-size: 2rem;
    font-family: times;
}
ul.navbar-nav {
    margin-right: 1rem; 
    font-family: times;
    font-size: 1.2rem;
}
ul li:hover{
	background: #f2bb07;
	border-radius: 5px;
}
.container-fluid h5{
	font-family: times;
	
}
.container-fluid h1{
	font-family: times;
	
}
.container-fluid h4{
	font-family: times;
	
}
a:hover{
	font-family: times;
	text-decoration: none;

}
.col-12 img{
	width: 100%;
	height: 100%;
}
.f a:hover{
	background: black;
	color: white;
}
.s a:hover{
	background: white;
	color: black;
}
p ,h4 ,h5, h3{
	font-family: times;
}